body{
	background-color: white;
	padding-top: 150px;
}

header {
	position: fixed;
	top: 0px; left: 5px; right: 5px;
	height: 150px;
	border: 1px solid black;
	background-image: url("/images/header.jpg");
	padding: 5px 20px;
	z-index: 1;

}
nav {
	position: fixed;
	top: 105px; left: 20px; right: 20px;
	height: 40px;
	border: 0px solid black;
	border-radius: 100px;
	padding: 3px 5px;
	background-color: rgba(1,1,1,0.3);
	z-index: 1;

}
nav ul {
	display: inline-block;
	border: 0px solid black;
	padding: 0px;
	margin: 0px;
}
nav div.login {
	float: right;
	padding: 0px;
	margin: 0px;

}
nav li {
	background-color: white;
	min-width: 100px;
	display: inline-block;
	text-align: center;
	text-decoration: none;
	border: 1px solid black;
	margin: 0px;
	font-size: large;
}

.btn{
	margin: 0px 2px;
}
.material-icons.btn{
	width: 40px;
}
/************ drop btn ********* */        
nav .btn {
	width: 100px;
	font-weight: bolder;
	border-radius: 50px;
	opacity: 0.8;
}
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0px;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
	font-weight: bold;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}
/******************* login modal ******************/
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 2; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 60%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}
#loginModal .modal-content {
	width: 40%;
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 10px 20px;
    background-color: #d9534f;
    color: white;
}

.modal-body {
	padding: 20px;
	text-align: center;
}

.modal p {
	font-weight: bold;
	font-size: 16px;
	text-align: left;
}
.modal span {
	display: inline-block;
	width: 200px;
	text-align: center;
}
span.close {
	text-align: right;
}

.error {
	padding: 2px 5px;
}

span.info {
	margin-left: 10px;
	width: initial;
	padding: 0px 10px;
}

/******************* add movie div ******************/
div.addMovie {
	display: block;
}

div.addMovie span {
	display: inline-block;
	width: 150px;
	text-align: center;
	font-weight: bold;
	font-size: 16px;	
}
div.addMovie div.input {
	display: inline-block;
	border: 1px solid black;
	padding: 5px 30px;
	margin: 5px 20px;

	width: 500px;
}
div.addMovie div.view {
	display: inline-block;
	border: 1px solid black;
	padding: 5px 20px;
	margin: 5px 20px;

}

div.input select {
	width: 150px;
}
/********** filter div ************/
#filter-panel span {
	display: inline-block;
	text-align: center;
	font-weight: bold;
	font-size: 16px;
}

/************** movie article *********/

article.movie {
	display: inline-block;
	width: 200px;
	border: 0px;
	border-radius: 10px;
	margin: 10px 40px;
	height: 375px;

}
article.movie:hover {
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5);
}

article.movie .panel-heading {
	text-align: center;
	background-color: rgba(50,0,0,0.1);
	height: 40px;
	padding: 5px 5px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	font-size: 20px;
	overflow-y: scroll;
	font-weight: bolder;
}

article.movie .panel-body {
	padding: 0px;
}

article.movie img {
	width: 200px;
	height:  300px;
}
article.movie .panel-foot{
	text-align: left;
	background-color: rgba(50,0,0,0.1);
	height: 35px;
	padding: 5px 5px;
	padding-left: 8px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	font-size: 16px;
	font-weight: bold;
}

article.movie .price {
	display: inline-block;
	color: red;
	font-size: 19px;
	float: right;
	
}


#listing div.block {
	border: 1px solid black;
	margin: 5px;
	padding: 0px 20px;
}
#paging span {
	width: 50px;
}

div.home {
	text-align: center;
}
/***************** movie detail *************/
#detail .modal-content {
	width: 1000px;
	top:  10px;
	text-align: center;
	padding: 0px;
}
#detail .modal-body{
	padding: 0px;
	padding-top: 5px;
	height: 560px;
}

#movieDetail {

	width: 590px;
	height: 550px;
	border: 1px solid black;
	display: inline-block;
	text-align: left;
	padding-left: 3px;

}
#movieDetail img{
	width: 320px;
	height: 480px;
	margin-bottom: 10px;
}


#movieDetail div.info {
	width: 260px;
	border: 1px solid black;
	height: 480px;
	display: inline-block;
	float: right;
	text-align:left;
	padding: 5px;
}

#movieDetail span {
	display: inline-block;
	width: 90px;
	text-align: left;
	font-weight: bolder;
	font-size: 16px;
	padding-left: 5px;
}
#movieDetail p {
	font-weight: normal;
	font-size: 16px;
	display: inline-block;
	margin-left: 10px;
	margin-top: 5px;

}

div.synopsis {
	padding: 10px;
	overflow: scroll;
	max-height: 340px;
}

#movieDetail button {
	margin: 0px 40px;
	font-size: 25px;
	float: right;
}
#movieDetail .price {
	color: red;
	font-size: 30px;
	font-weight: bolder;
}


#updateMovie {
	width: 400px;
	height: 550px;
	border: 1px solid black;
	display: inline-block;
	float: right;
}


section.main {
	height: 1000px;
	border: 1px solid black;
	padding: 10px;
	margin: 10px 0px;

}